@import './vars.css';

html {
  background: transparent;
  scroll-padding: 40px;
}

body {
  margin: 0;
  padding: 4px;
  width: 400px;
  color: var(--darkPrimary);
  font-size: 16px;
  font-family: var(--fontDefault);
  line-height: var(--lh16);
  letter-spacing: var(--ls16);
  -webkit-font-smoothing: antialiased;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
